@import "~@/assets/styles/mobile_base.scss";

.voice {
    position: absolute;
    z-index: $z-index-index;
    top: 0;
    left: 0;
    animation: fade 1s ease-out 3;
    .voice-icon {
        position: absolute;
        z-index: $z-index-index + 1;
        .voice-icon-on {
            // margin: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("~@/assets/img/mic_on.png");
            width: px2rem(93);
            height: px2rem(93);
            cursor: pointer;
        }
        .voice-icon-off {
            // margin: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("~@/assets/img/mic_off.png");
            width: px2rem(93);
            height: px2rem(93);
            cursor: pointer;
        }
    }
}